body{
    min-width: 760px;
}
.parse{
    width:87%;
    height: 70px;
    color: blue;
    background-color: #DEDEDE;
    text-align: center;
    border: 0;
    border-radius: 0.6rem!important;
}
@media print {
    .container-fluid{
      display: none;
    }
    .printt{
      display: flow;
    }
}

.btnt{
    color: white;
}
.btnt:hover{
    color: red;
}
.btn-yid{
    --bs-btn-disabled-opacity:1;
    --bs-btn-bg:#93ba55;
    --bs-btn-border-color:#93ba55;
    --bs-btn-hover-bg:#89b04b;
    --bs-btn-hover-border-color:#89b04b;
    --bs-btn-active-bg:#6b922d;
    --bs-btn-active-border-color:#6b922d;
    color: white;
}
#logog{
    width: 300px;
    height: 50px;
}