.grid-container{
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    color: #000000;
}
.grid{
    /* height: 40em; */
    background-color: #504745;
    border-radius: 0.6rem!important;
    margin-bottom: 1em;
}
.grid-row{
    height: 100%;
    width: 100%;
}
.grid-title{
    font-size: 2.4em;
    color: #ceb8b8;
}
.grid-btns{
    height: 100%;
    padding: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: auto;
    /* width: 100%; */
}
.grid-btns .col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.grid-lists{
    height: 100%;
    align-items: start!important;
    overflow-x: auto;
}
/* #btns1{
    position: absolute;
    top: 20%;
    left: 26%;
}
#btns2{
    position: absolute;
    top: 50%;
    left: 16%;
}
#btns3{
    position: absolute;
    top: 50%;
    left: 46%;
} */
.grid-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cab8b2;
    border: 1px black solid;
    border-radius: 0.5rem!important;
    color: #000000;
    height: 2.6em;
    width: 5.2em;
    margin: 0.5em;
}
.grid-btn.t{
    height: 5.2em;
    min-width: 2.6em;
    width: 2.6em;
    margin: 0.3em;
    padding: 1px;
}
.grid-btn.booked{
    background-color: #0985a7;
}
/* .grid-btn.mark{
    background-color: #dc0000;
} */
.grid-btn.occupied{
    background-color: #b6993a;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-table{
    position: relative;
    margin: 1%;
}
.grid-btns #btns1::before{
    content: "Ａ"; /* 水印文本 */
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 居中对齐 */
    font-size: 6em; /* 字体大小 */
    color: rgba(0, 0, 0, 0.4); /* 水印文本颜色，这里使用了半透明黑色 */
    pointer-events: none; /* 防止水印文本干扰用户交互 */
}
.grid-btns #btns2::before{
    content: "B"; /* 水印文本 */
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 居中对齐 */
    font-size: 6em; /* 字体大小 */
    color: rgba(0, 0, 0, 0.4); /* 水印文本颜色，这里使用了半透明黑色 */
    pointer-events: none; /* 防止水印文本干扰用户交互 */
}
.grid-btns #btns3::before{
    content: "C"; /* 水印文本 */
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 居中对齐 */
    font-size: 6em; /* 字体大小 */
    color: rgba(0, 0, 0, 0.4); /* 水印文本颜色，这里使用了半透明黑色 */
    pointer-events: none; /* 防止水印文本干扰用户交互 */
}
.grid-btns #btns4::before{
    content: "D"; /* 水印文本 */
    position: absolute;
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 居中对齐 */
    font-size: 6em; /* 字体大小 */
    color: rgba(0, 0, 0, 0.4); /* 水印文本颜色，这里使用了半透明黑色 */
    pointer-events: none; /* 防止水印文本干扰用户交互 */
}
#gridList{
    transition: transform 3s ease;
}

.map{
    /* border: 1px white solid; */
    margin: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    border-radius: 0.6rem!important;
    position: relative;
    background-color: #504745;
}
.station {
    position: absolute;
    width: 2vw; /* 使用vw（視窗寬度的百分比）來定義寬度 */
    height: 2vw; /* 使用vw（視窗寬度的百分比）來定義高度 */
    transition: transform 0.1s ease;
    fill: #7CBD42;
}
.agv {
    position: absolute;
    width: 2vw; /* 使用vw（視窗寬度的百分比）來定義寬度 */
    height: 2vw; /* 使用vw（視窗寬度的百分比）來定義高度 */
    transition: transform 3s ease;
}
.map-grid{
    position: absolute; 
    width: 3%;
    height: 3%; 
    background-color: #cab8b2; 
    border: 1px black solid; 
    border-radius: 0.4rem!important;
    transition: transform 0.2s ease,background-color 1s ease;
}
.map-grid.t{
    transform: rotate(90deg);
}
.map-grid.booked{
    background-color: #0985a7;
}
.map-grid.occupied{
    background-color: #b6993a;
}
.map-grid.disable{
    background-color: #636363;
}