.btn-yid{
    --bs-btn-disabled-opacity:1;
    --bs-btn-bg:#93ba55;
    --bs-btn-border-color:#93ba55;
    --bs-btn-hover-bg:#89b04b;
    --bs-btn-hover-border-color:#89b04b;
    --bs-btn-active-bg:#6b922d;
    --bs-btn-active-border-color:#6b922d;
    color: white;
}
#notification{
    margin: 1em;
    border-radius: 0.6rem!important;
    background-color: #efefef;
}
#notification .row{
    margin-top: 0.5em;
    margin-bottom: 0.5em; 
    height: 3em;
}
.message{
    margin-left: 0.6em;
    margin-right: 0.6em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    background-color: #e0e0e0;
    /* background-color: #303030; */
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.6rem!important;
}
.message .nfStatus{
    height: 65%;
    width: 0.3em;
    border-radius: 20rem!important;
    display: flex;
}
.nfStatus.normal{
    background-color: #C9C9C9;
}
.nfStatus.info{
    background-color: #2377F6;
}
.nfStatus.warning{
    background-color: #EAC343;
}
.nfStatus.danger{
    background-color: #FF0000;
}
.messageContentDiv{
    width: 100%;
    padding-left: 3%;
    text-align: left;
}
.messageTitle{
    display: inline;
    min-height: 1.3em;
    font-size: 1.3em;
}
.messageContent{
    padding-left: 1.5%;
    display: inline;
    min-height: 1em;
    font-size: 1em;
}
.messageTime{
    padding-top: 0.5%;
    float:right;
}