<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="icon" type="image/ico" href="/YIDAGV//image/favicon.ico">
		<title>元創智動AGV|系統訊息</title>
		<!-- Bootstrap core CSS -->
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/yid-basic.css}" rel="stylesheet">
		<link th:href="@{/css/analysis.css}" rel="stylesheet">
		<link th:href="@{/css/message.css}" rel="stylesheet">

		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap-table.min.js}"></script>
		<script th:src="@{/js/message.js}"></script>
	</head>
	<body style="padding: 0px;line-height: 10px;">
		<div class="row Title">
			<div class="col-4"></div>
			<div class="col-4">
                <img th:src="@{/image/yidlogo.svg}" alt="SVG Image" style="width: 10%;">
                <img th:src="@{/image/yidlogotext.svg}" alt="SVG Image" style="width: 85%;">
            </div>
            <div class="col-4" style="position: relative;">
                <img style="position: absolute;bottom: 0;right: 0;max-height: 45%;" th:src="@{/image/yidwww.svg}" alt="image error">
            </div>
		</div>
		<hr style="border: none;height: 10px;background-color: #93B955;margin: 0px;margin-top: 3px;opacity: 1;">
		<div class="container" style="padding: 20px;padding-left: 40px;padding-right: 40px;padding-bottom: 0px;">
			<div class="row">
				<div class="col">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#93B955" class="bi bi-chat-right-text-fill" viewBox="0 0 16 16">
						<path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353V2zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1zm0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z"/>
					</svg>
					<label>系統訊息</label>
					<a th:href="@{/agv/}" style=" float: right">
						<input type="button" class="btn btn-yid" value="返回主畫面">
					</a>
				</div>
			</div>
			<div class="row" style=" justify-content: center">
				<div class="col-10" id="notification">
					<!--系統訊息-->
					<!-- <div class="row">
						<div class="col message">
							<div class="nfStatus info"></div>
							<div class="messageContentDiv">
								<label class="messageTitle">AGV#1</label>
								<label class="messageContent">AGV 連線中</label>
								<label class="messageTime">2023/8/1&nbsp;14:23:33</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col message">
							<div class="nfStatus info"></div>
							<div class="messageContentDiv">
								<label class="messageTitle">AGV#1</label>
								<label class="messageContent">AGV 重新啟動</label>
								<label class="messageTime">2023/8/1&nbsp;14:23:33</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col message">
							<div class="nfStatus warning"></div>
							<div class="messageContentDiv">
								<label class="messageTitle">AGV#1</label>
								<label class="messageContent">AGV 前有障礙</label>
								<label class="messageTime">2023/8/1&nbsp;14:23:33</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col message">
							<div class="nfStatus danger"></div>
							<div class="messageContentDiv">
								<label class="messageTitle">AGV#1</label>
								<label class="messageContent">AGV 發生碰撞</label>
								<label class="messageTime">2023/8/1&nbsp;14:23:33</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col message">
							<div class="nfStatus warning"></div>
							<div class="messageContentDiv">
								<label class="messageTitle">AGV#1</label>
								<label class="messageContent">AGV 轉向角度過大</label>
								<label class="messageTime">2023/8/1&nbsp;14:23:33</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col message">
							<div class="nfStatus danger"></div>
							<div class="messageContentDiv">
								<label class="messageTitle">AGV System</label>
								<label class="messageContent">AGV 系統未連線</label>
								<label class="messageTime">2023/8/1&nbsp;14:23:33</label>
							</div>
						</div>
					</div> -->

				</div>
			</div>
		</div>
		<footer style="text-align: center">
			元創智動股份有限公司版權所有  TEL:02-26087894 Email:sales@yid.com.tw
		</footer>

	</body>
</html>